<!-- header -->
<header class="bg-dark text-white">
    <div class="container py-1">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a href="/dashboard" class="text-decoration-none">
                    <h3 class="text-white">Perpus Alpukat</h3>
                </a>
            </div>
            <div class="col-md-6">
                <!-- navigation -->
                <nav class="d-flex gap-3 justify-content-end">
                    <a href="/dashboard" class="text-white text-decoration-none">Buku</a>
                    <a href="/dashboard/tamu" class="text-white text-decoration-none">Tamu</a>
                    <a href="/dashboard/anggota" class="text-white text-decoration-none">Anggota</a>
                    <a href="/dashboard/peminjaman" class="text-white text-decoration-none">Peminjaman</a>
                    <a href="/logout" class="btn btn-sm btn-danger text-decoration-none">Logout</a>
                </nav>
            </div>
        </div>
    </div>
</header>