<!-- header -->
<header class="bg-dark text-white">
    <div class="container py-1">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a href="/" class="text-decoration-none">
                    <h3 class="text-white">Perpus Alpukat</h3>
                </a>
            </div>
            <div class="col-md-6">
                <!-- navigation -->
                <nav class="d-flex gap-3 justify-content-end">
                    <a href="/" class="text-white text-decoration-none">Tamu</a>
                    <a href="/buku" class="text-white text-decoration-none">Buku</a>
                </nav>
            </div>
        </div>
    </div>
</header>