<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Perpus Alpukat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body class="d-flex flex-column" style="min-height: 100vh">
    {% if 'username' in session %}
    {% include "navbar/admin.html" %}
    {% else %}
    {% include "navbar/user.html" %}
    {% endif %}

    <!-- content -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <!-- footer -->
    <footer class="bg-dark py-2 mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="/login" class="text-white">Login Admin</a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <p class="m-0 text-white text-center">Perpus Alpukat</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block script %}{% endblock %}
</body>